<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <app-todos-input-box (newTodo)="addTodo($event)"></app-todos-input-box>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="todos-lists">
          <ng-container *ngIf="(todos$ | async)?.length === 0">
            <p class="ion-text-center">There are not todos!</p>
          </ng-container>
          <ion-list>
            <app-todos-list-item
              *ngFor="let todo of (todos$ | async)"
              [todo]="todo"
              (handleCheck)="checkTodo($event)"
              (handleDelete)="deleteTodo($event)"
            ></app-todos-list-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
